<div class="d-flex justify-content-center">
  <div class="display-2">
    Odinbook
  </div>
</div>

<div class="p-2 text-center">
  <h1>
    Connect with friends from all around the world.
  </h1>
  <h4 class="mt-4">Accounts for testing</h4>

  <div class="container w-50">

    <div class="row">
      <div class="col mr-0 pr-0">
        <input id="user1" value="miyamoto@manga-world.jp" class= "form-control">
      </div>
      <div class="col-2 ml-0 pl-1 text-left">
        <button class="btn clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#user1">
          <%= mdi_tag "content-copy 16px" %>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col mr-0 pr-0">
        <input id="user2" value="tomoe@manga-world.jp" class= "form-control">
      </div>
      <div class="col-2 ml-0 pl-1 text-left">
        <button class="btn clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#user2">
          <%= mdi_tag "content-copy 16px" %>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col mr-0 pr-0">
        <input id="user3" value="gennosuke@manga-world.jp" class= "form-control">
      </div>
      <div class="col-2 ml-0 pl-1 text-left">
        <button class="btn clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#user3">
          <%= mdi_tag "content-copy 16px" %>
        </button>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        Password for all account: <code>foobar</code>
      </div>
    </div>

  </div>


</div>
