<div class="d-flex justify-content-center pt-2 mb-1">
  <h1><%= current_user.profile.full_name %>'s friends</h1>
</div>

<% @friends.each do |user| %>
  <%= render 'shared/user_card', user: user %>
<% end %>

<%= will_paginate @friends %>
