<h1>Users#index</h1>

<% @users.each do |user| %>
  <ul>
    <li>
      <%= link_to user.profile.full_name, user %>
    </li>
    <li><%= user.email %></li>
    <li><%= user.profile.location %></li>
  </ul>
<% end %>
