<div class="d-flex justify-content-center pt-2 mb-1">
  <h1>Find friends</h1>
</div>

<% @users.each do |user| %>
  <%= render 'shared/user_card', user: user %>
<% end %>

<%= will_paginate @users %>
