<div class="d-flex justify-content-center pt-3">
  <h1>Find friends</h1>
</div>

<div class="d-flex flex-wrap justify-content-around">

  <% @users.each do |user| %>
    <%= render 'shared/user_card', user: user %>
  <% end %>

</div>
