<div class="d-flex justify-content-center pt-3">
  <h1>Pending friend requests</h1>
</div>

<div class="d-flex flex-wrap justify-content-around">

  <% @pending_friends.each do |friend| %>
    <%= render 'shared/user_card', user: friend %>
  <% end %>

</div>
