<div class="d-flex justify-content-center pt-2 mb-1">
  <h1>Pending friend requests</h1>
</div>

<% @pending_friends.each do |friend| %>
  <%= render 'shared/user_card', user: friend %>
<% end %>

<%= will_paginate @pending_friends %>
