<div class="container-fluid fixed-bottom bg-primary">
  <div class="row">
    <div class="col text-right text-light">
      <small>
        Created by
        <a href="https://github.com/szib" target="_blank" class="text-light">@szib</a>
      </small>
    </div>
  </div>
</div>
